<app-header></app-header>
<div class="surface-section px-4 py-6 md:px-6 lg:px-8">
  <div class="grid">
      <div class="col-12 p-1 mb-3 lg:mb-5">
          <div class="text-900 font-bold text-4xl mb-4">Preço único</div>
          <div class="text-700 text-xl line-height-3">Este plano foi projetado especificamente para atender às necessidades de gestão documental da sua empresa, com um preço acessível que se encaixa no seu orçamento.</div>
      </div>
      <div class="col-12 lg:col-6 md:mb-3">
          <div class="h-full">
              <div class="flex flex-column justify-content-center h-full" style="border-radius: 6px">
                  <div class="flex flex-row p-3 mb-3">
                      <span
                          class="inline-flex align-items-center justify-content-center text-blue-900 bg-blue-100 border-circle"
                          style="min-width: 2.25rem; height: 2.25rem">
                          <i class="pi pi-users"></i>
                      </span>
                      <div class="ml-3">
                          <div class="text-900 font-medium text-xl mb-2">Acesso ilimitado a recursos</div>
                          <span class="text-600 line-height-3">Tenha acesso a todos os recursos essenciais para uma gestão documental eficiente.
                             Organize, pesquise e compartilhe seus documentos de maneira fácil e segura, otimizando seu fluxo de trabalho e aumentando a produtividade da sua equipe.</span>
                      </div>
                  </div>
                  <div class="flex flex-row p-3 mb-3">
                      <span
                          class="inline-flex align-items-center justify-content-center text-blue-900 bg-blue-100 border-circle"
                          style="min-width: 2.25rem; height: 2.25rem">
                          <i class="pi pi-comments"></i>
                      </span>
                      <div class="ml-3">
                          <div class="text-900 font-medium text-xl mb-2">Armazenamento Ilimitado</div>
                          <span class="text-600 line-height-3">Aproveite o poder do armazenamento ilimitado para todos os seus documentos,
                            sem se preocupar com limitações de espaço.</span>
                      </div>
                  </div>
                  <div class="flex flex-row p-3">
                      <span
                          class="inline-flex align-items-center justify-content-center text-blue-900 bg-blue-100 border-circle"
                          style="min-width: 2.25rem; height: 2.25rem">
                          <i class="pi pi-moon"></i>
                      </span>
                      <div class="ml-3">
                          <div class="text-900 font-medium text-xl mb-2">Atualizações e Novos Recursos Constantes</div>
                          <span class="text-600 line-height-3">Mantenha-se sempre à frente com atualizações regulares e novos recursos adicionados regularmente à nossa plataforma.
                            <br>Você terá acesso contínuo a melhorias, para aprimorar ainda mais sua experiência.</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-12 lg:col-6">
          <div class="h-full pl-3">
              <div class="surface-card shadow-2 p-5" style="border-radius: 6px">
                  <div class="flex flex-column justify-content-between md:flex-row">
                      <div class="flex-grow-1 lg:w-min">
                          <div class="text-yellow-500 font-bold text-2xl mb-2">Plano Executive Master</div>
                          <!--Plano Prestige master/elite master-->
                          <div class="text-500 text-xl">O melhor custo benefício para simplificar sua organização.</div>
                      </div>
                      <div class="flex align-items-center w-auto lg:w-9rem lg:justify-content-end mt-3 lg:mt-0">
                          <p class="font-bold text-4xl text-blue-700"><span class="text-sm">R$</span>49,90</p>
                          <span class="text-700 text-xl ml-2 line-height-3">mensais</span>
                      </div>
                  </div>
                  <hr class="my-5 mx-0 border-top-1 border-none surface-border" />
                  <div class="text-900 font-medium text-xl pb-1">O que a plataforma oferece:</div>
                  <div class="flex flex-column justify-space-between md:flex-row">
                      <ul class="list-none p-0 m-0 flex-grow-1">
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>OCR Avançado</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Assistente de Classificação Automática</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Fluxo de Aprovação Personalizado</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Notificações Inteligentes</span>
                          </li>
                      </ul>
                      <ul class="list-none p-0 md:pl-2 m-0 flex-grow-1">
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Suporte Prioritário</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Segurança de Nível Empresarial</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Atualizações Regulares</span>
                          </li>
                          <li class="flex align-items-center my-3">
                              <i class="pi pi-check-circle text-green-500 mr-3"></i>
                              <span>Experiência do Usuário Intuitiva</span>
                          </li>
                      </ul>
                  </div>
                  <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
                  <button pButton pRipple class="text-800 font-boldw-full mt-2" label="Experimente Grátis" style="background-color: #fedc00;"></button>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
