<section class="flex flex-column lg:flex-row justify-content-between align-items-center">
  <article class="flex flex-column w-full gap-5 px-4 py-7 md:px-6 lg:px-8">
      <h1 class="m-0 text-900 font-bold text-4xl">A FuturaBit</h1>
      <div>
          <p>
            Fundada no epicentro da transformação digital, nossa jornada começou com uma visão clara: moldar o futuro por meio de soluções inteligentes e serviços facilitados.
          </p>
      </div>
      <div class="flex flex-column gap-4">
          <div class="flex align-items-center gap-2">
              <i class="pi pi-check-circle text-primary-500 text-2xl"></i>
              <p class="mt-0 mb-0 text-base text-700 line-height-3">Sempre Inovar: Adoramos ideias novas. Estamos sempre procurando maneiras melhores de fazer as coisas.</p>
          </div>
          <div class="flex align-items-center gap-2">
              <i class="pi pi-check-circle text-primary-500 text-2xl"></i>
              <p class="mt-0 mb-0 text-base text-700 line-height-3">Relacionamentos Sólidos: Valorizamos a confiança e o respeito em nossos relacionamentos, construindo parcerias sólidas com nossos clientes e colegas.</p>
          </div>
          <div class="flex align-items-center gap-2">
              <i class="pi pi-check-circle text-primary-500 text-2xl"></i>
              <p class="mt-0 mb-0 text-base text-700 line-height-3">Compromisso Total: Fazemos o que prometemos. Nosso compromisso é entregar trabalhos de alta qualidade, no prazo certo.</p>
          </div>
      </div>
      <div class="flex flex-column gap-4">
          <p class="mt-0 mb-0 text-base text-700 line-height-3">O que fazemos? <span class="font-italic">Serviços que Facilitam Sua Vida</span></p>
          <ul class="list-disc pl-5">
              <li class="mb-2"><span class="text-yellow-500">Outsourcing Personalizado:</span> Estamos aqui para ajudar, sendo uma extensão da sua equipe.</li>
              <li class="mb-2"><span class="text-yellow-500">Desenvolvimento de Software Personalizado:</span> Criamos softwares feitos especialmente para as suas necessidades.</li>
              <li class="mb-2"><span class="text-yellow-500">Marketing Digital Estratégico:</span> Fazemos com que sua marca seja notada na internet.</li>
              <li class="mb-2"><span class="text-yellow-500">Design Thinking Transformador:</span> Pensamos em soluções criativas e centradas nas suas necessidades.</li>
              <li class="mb-2"><span class="text-yellow-500">E-gedoc:</span> Organize seus Documentos de Forma Fácil - Uma ferramenta para ajudar a organizar e controlar seus documentos.</li>
          </ul>
      </div>
      <p class="mt-0 mb-0 text-base text-700 line-height-3">Na FuturaBit, não apenas seguimos as tendências, mas também as criamos. Estamos aqui para tornar a tecnologia acessível e útil para você.</p>
  </article>
  <!-- Adapte o conteúdo abaixo de acordo com sua necessidade -->
  <article class="w-full bg-cover flex align-items-end p-5 bg-center" style="background:url('./../../../assets/images/image-hero3.jpg'); height:44rem">
      <div class="flex flex-column gap-5 border-round-lg p-3 w-full" style="backdrop-filter: blur(12.25px);background: rgba(255, 255, 255, 0.15); border: 1px solid rgba(255, 255, 255, 0.15);">
          <p class="m-0 text-0 text-1xl line-height-3 font-semibold text-center text-white">“Não apenas seguimos as tendências, mas também as criamos. Estamos aqui para tornar a tecnologia acessível e útil para você.”</p>
          <div class="flex gap-3 align-items-center">
              <hr class="w-full" style="border: 1px solid rgba(222, 226, 230, 0.15);">
              <div class="flex align-items-center gap-2">
                  <i class="pi pi-star-fill text-white"></i>
                  <i class="pi pi-star-fill text-white"></i>
                  <i class="pi pi-star-fill text-white"></i>
                  <i class="pi pi-star-fill text-white"></i>
                  <i class="pi pi-star-fill text-white"></i>
              </div>
              <hr class="w-full" style="border: 1px solid rgba(222, 226, 230, 0.15);">
          </div>
          <div class="flex justify-content-between">
              <div class="flex flex-column gap-1">
                  <p class="mt-0 mb-0 font-semibold line-height-3 text-base text-white">Jean Fernandine</p>
                  <span class="text-50 font-light line-height-3 text-sm text-white-alpha-80">Fundador</span>
              </div>

          </div>
      </div>
  </article>
</section>
