
<div class="px-4 py-8 md:px-6 lg:px-8" style="background-color: #fedc00;
  background-size: 200% 200%;">
  <div class="border-top-1 border-300 pt-5 text-center">
      <img src="./../../../assets/images/logo-egedoc-black_Prancheta 1.svg" alt="Image" height="150">
      <ul class="list-none p-0 mx-0 my-5 flex justify-content-center flex-column align-items-center lg:flex-row">
          <li><p routerLink="/quem-somos" class="text-800 cursor-pointer line-height-3 lg:mr-5 no-underline hover:underline">Sobre nós</p></li>
          <li><p routerLink="/novidades" class="text-800 cursor-pointer line-height-3 no-underline hover:underline lg:mr-5">Novidades</p></li>
          <li><p routerLink="/blog" class="text-800 cursor-pointer line-height-3 no-underline hover:underline lg:mr-5">Nosso Blog</p></li>
          <li><p routerLink="/trabalhe-conosco" class="text-800 cursor-pointer no-underline hover:underline line-height-3 lg:mr-5">Trabalhe Conosco</p></li>
          <li><p routerLink="/trilha-egedoc" class="text-800 cursor-pointer no-underline hover:underline line-height-3">Trilha Egedoc</p></li>
      </ul>
      <div class="flex align-items-center justify-content-center mb-5">
          <a class="cursor-pointer border-circle bg-gray-100 text-600 block inline-flex justify-content-center align-items-center mr-5" style="width:2.5rem; height: 2.5rem">
              <i class="pi pi-instagram"></i>
          </a>
          <a class="cursor-pointer border-circle bg-gray-100 text-600 block inline-flex justify-content-center align-items-center mr-5" style="width:2.5rem; height: 2.5rem">
              <i class="pi pi-linkedin"></i>
          </a>
          <a class="cursor-pointer border-circle bg-gray-100 text-600 block inline-flex justify-content-center align-items-center" style="width:2.5rem; height: 2.5rem">
              <i class="pi pi-github"></i>
          </a>
      </div>
      <div class="text-center">
          <a routerLink="/politica-privacidade" class="mr-5 text-sm text-600 no-underline hover:underline cursor-pointer">Política de Privacidade</a>
          <a routerLink="/termos-de-uso" class="text-sm text-600 no-underline hover:underline cursor-pointer">Termos de uso</a>
      </div>
  </div>
</div>
