<p-dialog [(visible)]="showDialog" appendTo="body" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '40vw'}" [closable]="false" [showHeader]="false">
  <div class="flex flex-column align-items-center my-4">
    <span class="flex align-items-center justify-content-center bg-cyan-100 text-cyan-800 mr-3 border-circle mb-3"
      style="width:64px;height:64px">
      <i class="pi pi-check text-5xl"></i>
    </span>
    <div class="font-medium text-2xl text-900">Digite aqui seu comentário</div>
  </div>
  <form [formGroup]="form" class="line-height-3 p-0 m-0">
    <textarea class="w-full" formControlName="comment" id="comment" type="text" pInputTextarea rows="4"
      [autoResize]="true"></textarea>
  </form>
  <ng-template pTemplate="footer">
    <div class=" border-top-1 surface-border pt-3 flex">
      <button pButton pRipple icon="pi pi-times" (click)="showDialog = false" label="Cancelar"
        class="p-button-outlined w-6 mr-2"></button>
      <button pButton pRipple icon="pi pi-check" (click)="onSubmit()" (click)="showDialog = false" label="Enviar"
        class="w-6 ml-2"></button>
    </div>
  </ng-template>
</p-dialog>
