<app-header></app-header>
<div class="px-4 py-8 md:px-6 lg:px-8"
  style="background-image: url('./../../../assets/images/hero4.jpg'); background-size: cover; background-position: center;">
  <div class="flex flex-wrap">
    <div class="w-12 lg:w-6 p-4">
      <h1 class="text-6xl font-bold mt-0 mb-3 text-700">Transforme Ideias em <div class="amarelo no-underline">Inovação
          Digital</div>
      </h1>
      <p class="text-3xl text-bluegray-500 mt-0 mb-5">Do conceito à realidade, somos sua solução tecnológica integrada.
      </p>
      <ul class="list-none p-0 m-0">
        <li class="mb-3 flex align-items-center"><i class="pi pi-compass text-yellow-500 text-xl mr-2"></i><span
            class="text-bluegray-500 line-height-3">Sua Ideia de Negócio em uma Experiência Online de Sucesso.</span>
        </li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-map text-yellow-500 text-xl mr-2"></i><span
            class="text-bluegray-500 line-height-3">Ampliamos sua visão empresarial no mundo digital.</span></li>
        <li class="mb-3 flex align-items-center"><i class="pi pi-calendar text-yellow-500 text-xl mr-2"></i><span
            class="text-bluegray-500 line-height-3">Simplifique a gestão documental da sua empresa com o E-gedoc.</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
