<div class="px-4 py-8 md:px-6 lg:px-8 h-20rem" style="background-image: url('./../../../assets/images/image-vacance.jpg'); background-size: cover; background-position: center;">
  <div class="flex flex-wrap">
    <div class="w-12 lg:w-6 p-4">
      <h1 class="text-white">Trabalhe Conosco</h1>
    </div>
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class=" text-2xl p-3 mb-3 text-900">
      Porquê se juntar a nós?
  </div>
  <div class="line-height-3 text-xl text-700 mb-5">
    "Parabéns por encontrar o seu caminho até aqui! 🚀 Na <span class="text-2xl text-yellow-500">FuturaBit</span>, acreditamos que grandes talentos são a chave para o nosso sucesso. Estamos em busca de profissionais apaixonados e inovadores para se juntarem ao nosso time extraordinário.
  </div>

  <div class="line-height-3 text-lg text-700 mb-4">
    Não apenas oferecemos empregos, oferecemos oportunidades para crescer, aprender e fazer a diferença. Valorizamos a diversidade, a criatividade e a colaboração. Se você busca um ambiente dinâmico, desafiador e cheio de energia positiva, você está no lugar certo!
  </div>
  <div class="bg-gray-900 p-8 flex justify-content-center md:justify-content-end bg-no-repeat bg-cover md:bg-contain" style="background-image: url('assets/images/blocks/cta/cta-2.png')">
      <div class="px-5">
          <div class="text-white font-bold text-3xl">Estamos à procura de mentes brilhantes e corações apaixonados</div>
          <div class="text-blue-200 font-bold text-3xl">Se você é movido pela inovação, tem sede de aprendizado e está pronto para abraçar desafios, queremos conhecê-lo!</div>
          <div class="mt-3 mb-5 text-gray-200 font-medium line-height-3">Não importa se você está no início da sua carreira ou é um profissional experiente, queremos construir juntos o futuro da <span class="text-yellow-500">FuturaBit</span>.</div>
          <button pButton pRipple label="Get Started" class="font-bold px-5 py-3"></button>
      </div>
  </div>

    <div class="flex flex-wrap mt-5">
        <div class="w-full md:w-5 px-4 py-8 md:px-6 lg:px-8"
            style="background-color: #fedc00;">
            <div class="text-4xl text-black mb-3 font-medium">O que procuramos?</div>
            <p class="line-height-3 mt-0 mb-7 p-0 text-gray-700 text-2xl font-italic">Estamos à procura de mentes brilhantes e corações apaixonados.
              Se você é movido pela inovação, tem sede de aprendizado e está pronto para abraçar desafios, queremos conhecê-lo!
              Não importa se você está no início da sua carreira ou é um profissional experiente, queremos construir juntos o futuro da empresa.</p>
        </div>
        <div class="w-full md:w-7 bg-no-repeat bg-cover"
            style="background: url('./../../../assets/images/image-vacance2.jpg'); min-height: 200px;">
        </div>
    </div>

  <div class="border-top-1 border-300 pt-5 text-center text-2xl p-3 mb-3 text-900">
    Como se candidatar?
  </div>

  <div class="line-height-3 text-lg text-700 mb-4">
    Visite nossa página de carreiras <a href="#" class="">clicando aqui</a> para explorar as oportunidades disponíveis. Encontre a vaga que mais combina com você e envie-nos seu currículo. Estamos ansiosos para conhecer a sua história, habilidades e como você pode contribuir para o nosso sucesso coletivo.
  </div>

  <div class="line-height-3 text-xl text-700 mb-5">
    Benefícios de se juntar à Família <span class="text-2xl text-yellow-500">FuturaBit</span>:
  </div>


<div class="container">
  <h1>Comece uma Jornada Incrível na FuturaBit</h1>
  <ul class="mt-4 mb-4 text-lg ml-6 p-0">
    <li class="mb-3"><span class="text-yellow-500">Cultura inclusiva e colaborativa.</span></li>
    <li class="mb-3"><span class="text-yellow-500">Oportunidades de desenvolvimento profissional.</span></li>
    <li class="mb-3"><span class="text-yellow-500">100% Home Office.</span></li>
    <li class="mb-3"><span class="text-yellow-500">Pacote de benefícios competitivo.</span></li>
    <li><span class="text-yellow-500">Equipe dedicada e apaixonada.</span></li>
</ul>


      <div class="line-height-3 text-xl text-700 mb-5">
        <div class="opportunity-description">
        Se você está pronto para trilhar um caminho repleto de realizações e desafios emocionantes, <br>
        a <span class="text-2xl text-yellow-500">FuturaBit</span> é o lugar onde você pertence.
      </div>

    <a href="#" class="mt-3">Inscreva-se Agora!</a>
  </div>

</div>

