<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid -mr-4 -ml-4 flex-column xl:flex-row">
      <div class="col-12 xl:col-6 p-4">
          <div class="bg-yellow-50 border-round flex flex-column justify-content-center h-full p-6">
              <p class="text-yellow-600 mb-4 font-bold">SUBTITLE</p>
              <div class="text-yellow-900 text-3xl font-medium">Feature Details</div>
              <p class="text-yellow-800 text-xl line-height-3">Vulputate eu scelerisque felis imperdiet proin. Eget arcu dictum varius duis at consectetur lorem donec.</p>
          </div>
      </div>
      <div class="col-12 xl:col-6 p-4">
          <img src="assets/images/blocks/ecommerce/productfeature/product-features-1-9.png" class="w-full" alt="product">
      </div>
      <div class="col-12 xl:col-6 p-4">
          <img src="assets/images/blocks/ecommerce/productfeature/product-features-1-10.png" class="w-full" alt="product">
      </div>
      <div class="col-12 xl:col-6 p-4">
          <div class="bg-cyan-50 border-round flex flex-column justify-content-center h-full p-6">
              <p class="text-cyan-600 mb-4 font-bold">SUBTITLE</p>
              <div class="text-cyan-900 text-3xl font-medium">Feature Details</div>
              <p class="text-cyan-800 text-xl line-height-3">Vulputate eu scelerisque felis imperdiet proin. Eget arcu dictum varius duis at consectetur lorem donec.</p>
          </div>
      </div>
  </div>
</div>
