<div class="p-4 text-center">
  <div class="flex justify-content-center align-items-center">
    <img src="./../../../assets/images/confirmation2.jpg" alt="Image" class="mx-auto block w-2 mb-4">
  </div>
  <div class="text-900 font-medium mb-2 text-xl">Parabéns! Sua solicitação foi recebida.</div>
  <p class="mt-0 mb-4 p-0 line-height-3">Agradecemos por escolher experimentar
    gratuitamente nossa plataforma de gestão documental. <br>Seus dados foram registrados com sucesso.
    Em breve, você receberá um e-mail com mais detalhes e instruções sobre como acessar a plataforma.
  </p>
  <p class="mt-0 mb-4 p-0 line-height-3">Fique atento à sua caixa de entrada! Se tiver alguma dúvida, entre em contato
    conosco.
  </p>
  <button pButton label="Página Inicial" class="bg-bluegray-600 w-2" routerLink="/"></button>
</div>
