<div class="min-h-screen flex relative lg:static">
  <div class="p-5 flex flex-column flex-auto">
    <div>
      <div class="text-900 font-medium text-xl mb-3">Profile</div>
      <p class="m-0 mb-4 p-0 text-600 line-height-3 mr-3">Odio euismod lacinia at quis risus sed vulputate odio. Non
        nisi est sit amet.
        Egestas integer eget aliquet nibh praesent tristique magna.</p>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid formgrid p-fluid">

        <div class="field mb-4 col-6">
          <label for="title" class="font-medium">Título</label>
          <input formControlName="title" id="title" type="text" pInputText>
        </div>
        <div class="field mb-4 col-12 md:col-6">
          <label for="versions" class="font-medium">Observação</label>
          <!-- <textarea  formControlName="description" id="description" type="text" pInputTextarea rows="4" [autoResize]="true"></textarea> -->
        </div>
        <div class="field mb-4 col-12 md:col-4">
          <label for="category" class="font-medium">Tags</label>
          <p-chips formControlName="tags"></p-chips>
        </div>
        <div class="field mb-4 col-12 md:col-3">
          <label for="description" class="font-medium">Versão/Revisão</label>
          <input formControlName="reference" id="reference" type="text" pInputText>
        </div>

        <div class="field mb-4 col-12 md:col-5">
          <label for="tags" class="font-medium">Descrição da Versão/Revisão</label>
          <!-- <textarea  formControlName="description" id="description" type="text" pInputTextarea rows="4" [autoResize]="true"></textarea> -->
        </div>

          <div class="field mb-4 col-12 md:col-4">
            <label for="reference" class="font-medium">Referência</label>
            <input formControlName="reference" id="reference" type="text" pInputText>
          </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="documentType" class="font-medium">Tipo documental</label>
          <p-dropdown
          id="types"
          [options]="types"
          formControlName="documentType"
          placeholder="Selecione"
        ></p-dropdown>
          </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="metadata" class="font-medium">Metadata</label>
          <input formControlName="metadata" id="metadata" type="text" pInputText>
        </div>
        <div class="surface-100 mb-3 col-12" style="height:2px"></div>

        <div class="field mb-4 col-12 md:col-4">
            <label for="dueDate" class="font-medium">Vencimento</label>
            <p-calendar formControlName="dueDate" dueDate="input" [showIcon]="true" inputId="dueDate"></p-calendar>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="state" class="font-medium">Confidencialidade</label>
          <p-dropdown
          id="confidentialTypes"
          [options]="confidentialTypes"
          formControlName="confidential"
          placeholder="Selecione"
        ></p-dropdown>
        </div>

        <div class="field mb-4 col-12 md:col-4">
          <label for="responsible" class="font-medium">Responsável</label>
          <input formControlName="responsible" id="responsible" type="text" pInputText>
        </div>

        <div class="surface-100 mb-3 col-12" style="height:2px"></div>
        <div class="field mb-4 col-12 flex flex-row flex-wrap ">

          <div class="flex align-items-center mr-5">
            <p-inputSwitch formControlName="respoallowDownloadnsible" inputId="allowDownload"></p-inputSwitch>
            <span class="ml-2">Permitir Download?</span>
          </div>

          <div class="flex align-items-center">
            <p-inputSwitch formControlName="notify" inputId="notify"></p-inputSwitch>
            <span class="ml-2">Notificar alterações?</span>
          </div>

        </div>
        <div class="surface-100 mb-3 col-12" style="height:2px"></div>
        <div class="col-12">
          <button pButton pRipple label="Salvar" class="w-auto mt-3"></button>
        </div>
      </form>
    </div>
  </div>
</div>
