<ng-container *ngIf="folder">
  <app-breadcrumb [fullPath]="folder.fullPath"></app-breadcrumb>
</ng-container>

  <div class="card p-2" >
    <p-toolbar styleClass="surface-100 mb-4 gap-2">
      <ng-template pTemplate="left">
        <ul class="z-3 list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row">
          <li>
            <a pRipple
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-indigo-100 font-medium border-round cursor-pointer"
              pStyleClass="@next" enterFromClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
              leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
              <p-button label="Novo" icon="pi pi-angle-down ml-auto lg:ml-3" class="mr-2" iconPos="right"></p-button>
            </a>
            <ul
              class="list-none py-3 px-6 m-0 lg:px-0 lg:py-0 border-round shadow-0 lg:border-1 border-50 lg:shadow-2 lg:absolute surface-overlay hidden origin-top w-full lg:w-15rem cursor-pointer">
              <li>
                <a pRipple
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span (click)="onClickCreateFolder()" class="font-medium">Criar Subpasta</span>
                </a>
              </li>
              <li>
                <a pRipple
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Criar documento</span>
                </a>
              </li>
              <li>
                <a pRipple
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Formulário</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <button pButton pRipple label="Apagar" icon="pi pi-trash mr-2" class="p-button-danger"
       (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems.length"></button>

      </ng-template>

      <ng-template pTemplate="right">
        <p-toast></p-toast>
        <p-fileUpload mode="basic" class="mr-2 inline-block" accept=".pdf, .txt" name="file" chooseIcon="none" [maxFileSize]="1000000"
        [url]="updateUrl()" [auto]="true" chooseLabel="Importar" (onUpload)="onUpload($event)"></p-fileUpload>
        <button pButton pRipple label="Exportar" icon="pi pi-upload mr-2" class="ml-3 p-button-help"></button>
      </ng-template>
    </p-toolbar>
    <div class="flex flex-column gap-2">
      <p-progressBar [value]="progress" [showValue]="false" [style]="{ height: '5px' }"></p-progressBar>
  </div>
    <p-table [value]="getItemsToDisplay()" [paginator]="true" [first]="first" [rows]="rows" dataKey="id" [rowHover]="true"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']" [showCurrentPageReport]="true"
      [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[5, 10, 20]"
       [(selection)]="selectedItems">

      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Subpasta</h5>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th></th>
          <th pSortableColumn="name" style="min-width:15rem">Nome <p-sortIcon field="name"></p-sortIcon></th>
          <th pSortableColumn="price">Data de criação <p-sortIcon field="price"></p-sortIcon></th>
          <th pSortableColumn="category" style="min-width:10rem">Código <p-sortIcon field="category"></p-sortIcon></th>
          <th>
            <p>Documentos Integrados</p>
          </th>
          <th></th><th></th><th></th><th></th><th></th><th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-item>
        <tr class="drop-column" pDraggable >
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>
            <ng-container *ngIf="isFolder(item)">
              <i (click)="navigateToItem(item)" class="pi pi-folder text-2xl text-yellow-600"></i>
            </ng-container>
            <ng-container *ngIf="isDocument(item)">
              <i (click)="navigateToItem(item)" class="pi pi-file text-2xl text-gray-500"></i>
            </ng-container>

          </td>
          <td (click)="navigateToItem(item)" [class.editing]="item.editing" class="cursor-pointer text-blue-500">
            <ng-container *ngIf="!item.editing; else editingMode">
              {{ item.name }}
            </ng-container>
            <ng-template #editingMode>
              <input [(ngModel)]="item.newName" (blur)="disableEditing(item)" (keyup.enter)="disableEditing(item)">
            </ng-template>
          </td>
          <td>{{ item.creationDate | date:"dd/MM/yyyy" }}</td>
          <td>{{ item.code }}</td>
          <td>{{ item.documentCount }}</td>
          <td></td>

          <td>
            <i *ngIf="!item.itemLike" class="cursor-pointer fa-regular fa-thumbs-up" (click)="toggleLike(item)"></i>
            <i *ngIf="item.itemLike" class="cursor-pointer fa-solid fa-thumbs-up" (click)="toggleLike(item)"></i>
            <!-- <p-badge value="2" severity="warning"></p-badge> -->
          </td>

          <td><i class="pi cursor-pointer"
            [ngClass]="{'pi-star': !isFavorite(item), 'pi-star-fill': isFavorite(item)}"
            (click)="toggleFavorite(item)">
          </i></td>

          <!-- <td (click)="openCommentsDialog()">
            <i *ngIf="!item.comment" class="cursor-pointer fa-regular fa-comment"></i>
            <i *ngIf="item.comment" class="cursor-pointer fa-solid fa-comment"></i>
             <p-badge value="2" severity="warning"></p-badge>
          </td> -->

          <td><i (click)="openReviewDialog(item)" class="cursor-pointer pi pi-comment"></i></td>

          <td><i class="cursor-pointer pi pi-share-alt"></i></td>

          <td>
            <a pRipple
              class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
              pStyleClass="@next" enterFromClass="hidden" enterActiveClass="scalein" leaveToClass="hidden"
              leaveActiveClass="fadeout" [hideOnOutsideClick]="true">
              <i class="pi pi-ellipsis-v"></i>
            </a>
            <ul appendTo="body"
              class="z-3 list-none py-0 px-6 m-0 lg:px-0 border-round shadow-0 lg:shadow-2 lg:border-1 border-50 lg:absolute surface-overlay hidden -translate-x-100 origin-top w-full lg:w-12rem cursor-pointer">
              <li>
                <a pRipple (click)="enableEditing(item)"
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Renomear</span>
                </a>
              </li>
              <li>
                <a pRipple
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Atualizar</span>
                </a>
              </li>
              <li>
                <a pRipple
                  class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 transition-colors transition-duration-150">
                  <span class="font-medium">Propriedades</span>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </ng-template>

      <div class="card flex justify-content-center">
      </div>
      <ng-template pTemplate="summary">
        <div class="border-dotted border-gray-500 bg-gray-100  p-4 m-2 text-center drop-column"
        pDraggable
        *ngIf="subFolders && subFolders.length === 0">
          <p class="font-bold text-gray-500">A pasta está vazia.</p>
          <p class="text-gray-500">Clique em <strong>Novo</strong> para adicionar uma subpasta ou documento</p>
          <p class="text-gray-500">ou arraste e solte seu arquivo nesta área.</p>
        </div>
        <div class="ml-2 flex align-items-center mb-2 justify-content-between">{{ subFolders ?
          subFolders.length : 0 }} subpasta(s)
        </div>
        <div class="ml-2 flex align-items-center justify-content-between">{{ documents ?
          documents.length : 0 }} arquivo(s)
        </div>
      </ng-template>

    </p-table>
  </div>
