<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-desktop text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Aumento da produtividade</div>
          <span class="text-700 line-height-3">Economize tempo e esforço na busca e gerenciamento de documentos</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-lock text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Redução de erros</div>
          <span class="text-700 line-height-3">Evite perdas de documentos e erros de versão com um sistema centralizado e automatizado</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-check-circle text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Colaboração eficiente</div>
          <span class="text-700 line-height-3">Permita que sua equipe trabalhe de forma colaborativa e otimizada em projetos e tarefas</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-globe text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Segurança aprimorada</div>
          <span class="text-700 line-height-3">Proteja informações sensíveis com permissões de acesso personalizadas e criptografia de ponta a ponta</span>
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-github text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Conformidade regulatória</div>
          <span class="text-700 line-height-3">Esteja em conformidade com regulamentações e normas de segurança da informação</span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
              <i class="pi pi-shield text-4xl text-yellow-500"></i>
          </span>
          <div class="text-900 text-xl mb-3 font-medium">Compartilhamento Simplificado</div>
          <span class="text-700 line-height-3">Você pode compartilhar facilmente documentos e pastas com sua equipe, parceiros e clientes de dentro da plataforma.</span>
      </div>
  </div>
</div>
