<div class="px-4 py-6 md:px-6 lg:px-8 overflow-hidden"> <!--style="background-color: #e6e5e1;"-->
  <div class="font-bold text-700 text-3xl mb-3 text-center">"Levamos suas idéias muito a sério!"</div>
  <div class="text-700 text-center mb-5 line-height-3">Organizamos cada detalhe seguindo etapas como:</div>
  <div class="flex lg:justify-content-center mb-5">
      <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
          <img src="./../../../assets/images/1.jpg" alt="Image" class="w-full">
      </div>
      <div class="flex flex-column align-items-center w-2rem">
          <span class="bg-blue-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">1</span>
          <div class="h-full bg-blue-500" style="width: 2px; min-height: 4rem"></div>
      </div>
      <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
          <div class="text-900 text-xl mb-2 font-medium">Levantamento de Requisitos.</div>
          <span class="block text-700 line-height-3 mb-3">Transformamos Ideias em Detalhes Precisos.</span>
          <div class="pt-3 border-top-1 border-300">
              <div class="mb-2 line-height-3"><span class="text-900 font-medium">Exploramos cada faceta da sua visão,</span> transformando conceitos em requisitos tangíveis.</div>
              <div class="line-height-3"><span class="text-900 font-medium">Colocamos sua ideia no papel,</span> entendendo cada nuance para moldar uma estratégia robusta</div>
          </div>
      </div>
  </div>
  <div class="flex justify-content-center mb-5">
      <div class="py-3 pl-5 pr-3 lg:pr-8 lg:pl-3 lg:w-30rem flex-order-1 lg:flex-order-0">
          <div class="text-900 text-xl mb-2 font-medium">Desenvolvimento Sólido</div>
          <span class="block text-700 line-height-3 mb-3">Criamos Estruturas Digitais com Precisão Arquitetônica</span>
          <div class="pt-3 border-top-1 border-300">
              <div class="mb-2 line-height-3"><span class="text-900 font-medium">Construímos as fundações sólidas </span>do seu projeto, usando as mais recentes tecnologias e melhores práticas.</div>
              <div class="line-height-3"><span class="text-900 font-medium"> Cada linha de código é uma peça da engrenagem </span>que impulsiona sua ideia para a vida digital</div>
          </div>
          <img src="./../../../assets/images/3.jpg" alt="Image" class="w-full mt-3 block lg:hidden">
      </div>
      <div class="flex flex-column align-items-center w-2rem flex-order-0 lg:flex-order-1">
          <span class="bg-yellow-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">2</span>
          <div class="h-full bg-yellow-500" style="width: 2px; min-height: 4rem"></div>
      </div>
      <div class="py-3 pl-8 pr-3 w-30rem hidden lg:block flex-order-2">
          <img src="./../../../assets/images/2.jpg" alt="Image" class="w-full mr-8">
      </div>
  </div>
  <div class="flex justify-content-center">
      <div class="py-3 pr-8 pl-3 w-30rem hidden lg:block">
          <img src="./../../../assets/images/3.jpg" alt="Image" class="w-full mr-8">
      </div>
      <div class="flex flex-column align-items-center w-2rem">
          <span class="bg-cyan-500 text-0 flex align-items-center justify-content-center border-circle" style="min-width:2.5rem; min-height: 2.5rem">3</span>
          <div class="h-full bg-cyan-500" style="width: 2px; min-height: 4rem"></div>
      </div>
      <div class="py-3 pl-5 lg:pl-8 pl-3 lg:w-30rem">
          <div class="text-900 text-xl mb-2 font-medium"> Entrega e Sustentação Contínua:</div>
          <span class="block text-700 line-height-3 mb-3">Da Concepção à Realidade Digital, Estamos Sempre ao Seu Lado.</span>
          <div class="pt-3 border-top-1 border-300">
              <div class="mb-2 line-height-3"><span class="text-900 font-medium">Entregamos com excelência, </span>levando sua visão do papel para a realidade digital com perfeição.</div>
              <div class="line-height-3"><span class="text-900 font-medium">Apoiando e sustentando cada projeto, </span>garantimos que sua ideia cresça e evolua constantemente.</div>
          </div>
          <img src="assets/images/blocks/feature/feature-timeline-3.png" alt="Image" class="w-full mt-3 block lg:hidden">
      </div>
  </div>
</div>

