@import 'primeng/resources/themes/mdc-light-indigo/theme.css';
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";

@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "primeicons/primeicons.css";
@import '~viewerjs/dist/viewer.css';


* {
  margin: 0;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(244, 244, 247, 0.842);
}

:root {
  --primary-color:#fedc00;
}
