<p-toast></p-toast>
<div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
  <div class="surface-card p-6 shadow-2 border-round w-full lg:w-5">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Minha conta</div>
        <span class="text-600 font-medium line-height-3">Ainda não possui conta?</span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Cadastre-se!</a>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="email" class="block text-900 font-medium mb-2">E-mail</label>
        <input id="email" type="text" formControlName="username" pInputText class="w-full mb-3">

        <label for="password" class="block text-900 font-medium mb-2">Senha</label>
        <input id="password"  formControlName="password" type="password" pInputText class="w-full mb-3">

        <div class="flex align-items-center justify-content-between mb-6">
            <div class="flex align-items-center">
                <p-checkbox id="rememberme" [binary]="true" styleClass="mr-2"></p-checkbox>
                <label for="rememberme">Lembre-me</label>
            </div>
            <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Esqueceu a senha?</a>
        </div>

        <div class="flex justify-content-center align-items-center">
        <button pButton pRipple label="Entrar" icon="pi pi-user" class="w-7"></button>
      </div>

      <p-divider align="center" styleClass="my-6">
        <span class="text-600 font-normal text-sm">OU</span>
    </p-divider>

    <button pButton pRipple label="Entrar com o Google" icon="pi pi-google" class="w-full" style="background-color: #EA4335;"></button>

    </div>
    </form>
  </div>
  </div>

